<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<a href="/newpost">Submit a new post</a>
    <table>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.votes}"></td>
                <td><a th:href="@{/upvote/{id} (id = ${post.id})}">+</a></td>
                <td><a th:href="@{/downvote/{id} (id = ${post.id})}">-</a></td>
                <td><a th:href="${post.URL}" th:text="${post.title}"></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>